[submodule "hapi-fhir-jpaserver-starter"]
	path = hapi-fhir-jpaserver-starter
	url = https://github.com/hapifhir/hapi-fhir-jpaserver-starter.git
[submodule "bulk-data-requester"]
	path = bulk-data-requester
	url = https://github.com/I-TECH-UW/bulk-data-requester.git
